*{
    box-sizing: border-box;
}

body{
    color: var(--white);
}

button{
    border: none;
}

a {
    text-decoration: none;
}

ul, li{
    text-decoration: none;
    list-style: none;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.container {
    margin: 0 auto;
    width: 375px;
    padding: 0;
    @media (min-width: 1920px) {
        width: 1920px;
        padding: 0 15px;
    }
}